.modal {
  text-align: center;
  flex: 1;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: atl-color('lavender-gray');
  color: white;
  a {
      color: inherit;
  }
}

.modal__content .button--stream {
    border-color: atl-color('blue');
}

.modal__content {
}

.modal__close-button {
  position: fixed;
  box-shadow: none;
  top: atl-spacing('small');
  right: atl-spacing('medium');
  background: none;
  border: none;
}
